<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Costco FCT Shop Helper</title>

    <link href="/static/css/output.css" rel="stylesheet" />
    <!-- Bulma.css
           Bulma used with innerHTML to stylize the input areas for the amount of items sold for the day.
           <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
           -->

    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  </head>
  <body class="my-custom-bg bg-center bg-repeat">
    <!-- div to sticky the footer to the bottom of the screen -->
    <div class="flex flex-col min-h-screen justify-between">
      <header>
        <h1 class="text-[32px] font-bold underline text-center text-white pt-4">
          <a href="/">Shop Helper </a>
        </h1>
      </header>

      <div>{{ shop_days }}</div>

      <div id="app">
        <!-- Send the number of days the shop is to the 'get_user_data route' to do calculations. -->
        <form
          id="shop_questions"
          method="post"
          action="{{ url_for('get_user_data', shop_day=shop_days) }}"
        >
          <!-- Get the sales for each item for the number of days the user will shop for. -->
          <div
            class="flex items-center justify-center flex-wrap space-x-3 content-evenly relative -top-15"
          >
            <div v-for="(item, index) in shoppingItems" v-bind:key="index">
              <label class="text-white text-xl"
                >How much [[ item.name ]] was sold?</label
              >

              <div
                class="flex items-center justify-center space-x-2 content-evenly"
              >
                <!-- Added flex container with spacing -->
                <!-- Get the sales for the day/s of the current item. -->
                <div
                  v-for="(day, dayIndex) in {{ shop_days }}"
                  v-bind:key="dayIndex"
                >
                  <input
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-pink-500 dark:focus:border-pink-500 [&::-webkit-inner-spin-button]:appearance-none"
                    type="number"
                    v-bind:id="item.name + day"
                    v-bind:name="item.name + day"
                    v-bind:placeholder="'Day ' + day"
                    min="1"
                    oninput="this.value = Math.abs(this.value) > 0 ? Math.abs(this.value) : null"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- Align submit button to the center of the screen. -->
          <div class="flex items-center justify-center p-8">
            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
      <footer>
        <hr
          class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
        />
        <div class="flex mt-4 pb-4 sm:justify-center sm:mt-0">
          <a
            href="https://github.com/cesarg01"
            class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"
          >
            <svg
              class="w-6 h-6"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                fill-rule="evenodd"
                d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
                clip-rule="evenodd"
              />
            </svg>
            <span class="sr-only">GitHub account</span>
          </a>
        </div>
      </footer>
    </div>

    <script src="/static/js/app.js"></script>
  </body>
</html>
